---
http_interactions:
- request:
    method: get
    uri: https://api.newznab.com/api?apikey=7e8896464895c1cde33759b8307f5cf8&o=json&t=caps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"server":{"@attributes":{"appversion":"0.2.3p","version":"0.1","title":"oznzb","strapline":"Wordpress
        manager","email":"webadmin@newznab.com","url":"https:\/\/api.newznab.com\/","image":"https:\/\/api.newznab.com\/theme\/oznzb\/images\/banner.jpg"}},"limits":{"@attributes":{"max":"100","default":"100"}},"registration":{"@attributes":{"available":"yes","open":"no"}},"searching":{"search":{"@attributes":{"available":"yes"}},"tv-search":{"@attributes":{"available":"yes"}},"movie-search":{"@attributes":{"available":"yes"}},"audio-search":{"@attributes":{"available":"yes"}}},"categories":{"category":[{"@attributes":{"id":"1000","name":"Console"},"subcat":[{"@attributes":{"id":"1010","name":"NDS"}},{"@attributes":{"id":"1080","name":"PS3"}},{"@attributes":{"id":"1100","name":"PS4"}},{"@attributes":{"id":"1020","name":"PSP"}},{"@attributes":{"id":"1030","name":"Wii"}},{"@attributes":{"id":"1060","name":"WiiWare\/VC"}},{"@attributes":{"id":"1070","name":"XBOX
        360 DLC"}},{"@attributes":{"id":"1040","name":"Xbox"}},{"@attributes":{"id":"1050","name":"Xbox
        360"}},{"@attributes":{"id":"1090","name":"Xbox One"}}]},{"@attributes":{"id":"2[...]
