---
http_interactions:
- request:
    method: get
    uri: https://api.newznab.com/api?apikey=7e8896464895c1cde33759b8307f5cf8&del=0&extended=1&limit=10&o=json&offset=50&q=This%20Old%20House&t=tvsearch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"version":"2.0"},"channel":{"title":"oznzb","description":"oznzb
        Feed","link":"https:\/\/api.newznab.com\/","language":"en-gb","webMaster":"webadmin@newznab.com
        (oznzb)","category":{},"image":{"url":"https:\/\/api.newznab.com\/templates\/default\/images\/banner.jpg","title":"oznzb","link":"https:\/\/api.newznab.com\/","description":"Visit
        oznzb - Wordpress manager"},"response":{"@attributes":{"offset":"50","total":"844"}},"item":[{"title":"Ask
        This Old House S14E18 1080i HDTV DD2.0 MPEG2-TrollHD","guid":"https:\/\/api.newznab.com\/details\/84db51e370a6b10c1b479a9b96966044","link":"https:\/\/api.newznab.com\/getnzb\/84db51e370a6b10c1b479a9b96966044.nzb&i=42330&r=7e8896464895c1cde33759b8307f5cf8","comments":"https:\/\/api.newznab.com\/details\/84db51e370a6b10c1b479a9b96966044#comments","pubDate":"Sun,
        24 Apr 2016 21:16:02 +1000","category":"TV > HD","description":"Ask This Old
        House S14E18 1080i HDTV DD2.0 MPEG2-TrollHD","enclosure":{"@attributes":{"url":"https:\/\/api.newznab.com\/getnzb\/84db51e370a6b10c1b479a9b96966044.nzb&i=42330&r=7e8896464895c1cde33759b8307f5cf8","length":"2663773980","type":"application\/x-nzb"}},"attr":[{"@attributes":{"name":"category","value":"5000"}},{"@attributes":{"name":"category","value":"5040"}},{"@attributes":{"name":"size","value":"2663773980"}},{"@attributes":{"name":"guid","value":"84db51e370a6b10c1b479a9b96966044"}},{"@attributes":{"name":"files","value":"30"}},{"@attributes":{"name":"poster","value":"Yenc@power-post.org
        (Yenc-PP-A&A)"}},{"@attributes":{"name":"season","value":"S14"}},{"@attributes":{"name":"episode","value":"E18"}},{"@attributes":{"name":"rageid","value":""}},{"@attributes":{"name":"tvtitle","valu[...]
