---
http_interactions:
- request:
    method: get
    uri: https://api.newznab.com/api?apikey=7e8896464895c1cde33759b8307f5cf8&del=0&extended=1&limit=5&o=json&q=Sparticus&t=movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"version":"2.0"},"channel":{"title":"newznab","description":"newznab
        Feed","link":"https:\/\/api.newznab.com\/","language":"en-gb","webMaster":"webadmin@newznab.com
        (newznab)","category":{},"image":{"url":"https:\/\/api.newznab.com\/templates\/default\/images\/banner.jpg","title":"newznab","link":"https:\/\/api.newznab.com\/","description":"Visit
        newznab - Wordpress manager"},"response":{"@attributes":{"offset":"0","total":"10000"}},"item":[{"title":"Christine
        1983 1080p GBR Blu-ray AVC DTS-HD MA 5.1","guid":"https:\/\/api.newznab.com\/details\/aca3e3afc9c9f0f636ad66d8ec946b29","link":"https:\/\/api.newznab.com\/getnzb\/aca3e3afc9c9f0f636ad66d8ec946b29.nzb&i=42330&r=7e8896464895c1cde33759b8307f5cf8","comments":"https:\/\/api.newznab.com\/details\/aca3e3afc9c9f0f636ad66d8ec946b29#comments","pubDate":"Fri,
        21 Apr 2017 06:35:43 +1000","category":"Movies > HD","description":"Christine
        1983 1080p GBR Blu-ray AVC DTS-HD MA 5.1","enclosure":{"@attributes":{"url":"https:\/\/api.newznab.com\/getnzb\/aca3e3afc9c9f0f636ad66d8ec946b29.nzb&i=42330&r=7e8896464895c1cde33759b8307f5cf8","length":"51958019279","type":"application\/x-nzb"}},"attr":[{"@attributes":{"name":"category","value":"2000"}},{"@attributes":{"name":"category","value":"2040"}},{"@attributes":{"name":"size","value":"51958019279"}},{"@attributes":{"name":"guid","value":"aca3e3afc9c9f0f636ad66d8ec946b29"}},{"@attributes":{"name":"files","value":"256"}},{"@attributes":{"name":"poster","value":"NewsUP
        <NewsUp@somewhere.cbr>"}},{"@attributes":{"name":"rageid","value":""}},{"@attributes":{"name":"imdb","value":"0085333"}},{"@attributes":{"name":"imdbtitle","value":"Christine"}},{"@attributes":{"name":"imdbta[...]
