---
http_interactions:
- request:
    method: get
    uri: https://api.newznab.com/api?apikey=7e8896464895c1cde33759b8307f5cf8&del=0&extended=0&limit=50&o=json&q=This%20Old%20House&t=search
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"version":"2.0"},"channel":{"title":"oznzb","description":"oznzb
        Feed","link":"https:\/\/api.newznab.com\/","language":"en-gb","webMaster":"webadmin@newznab.com
        (oznzb)","category":{},"image":{"url":"https:\/\/api.newznab.com\/templates\/default\/images\/banner.jpg","title":"oznzb","link":"https:\/\/api.newznab.com\/","description":"Visit
        oznzb - Wordpress manager"},"response":{"@attributes":{"offset":"0","total":"844"}},"item":[{"title":"170417-TOHS38191080WA20x264A69","guid":"https:\/\/api.newznab.com\/details\/8610de2d24383b1efd513da1b30e96b5","link":"https:\/\/api.newznab.com\/getnzb\/8610de2d24383b1efd513da1b30e96b5.nzb&i=42330&r=7e8896464895c1cde33759b8307f5cf8","comments":"https:\/\/api.newznab.com\/details\/8610de2d24383b1efd513da1b30e96b5#comments","pubDate":"Mon,
        17 Apr 2017 15:41:54 +1000","category":"Movies > HD","description":"170417-TOHS38191080WA20x264A69","enclosure":{"@attributes":{"url":"https:\/\/api.newznab.com\/getnzb\/8610de2d24383b1efd513da1b30e96b5.nzb&i=42330&r=7e8896464895c1cde33759b8307f5cf8","length":"736950045","type":"application\/x-nzb"}},"attr":[{"@attributes":{"name":"category","value":"2000"}},{"@attributes":{"name":"category","value":"2040"}},{"@attributes":{"name":"size","value":"736950045"}},{"@attributes":{"name":"guid","value":"8610de2d24383b1efd513da1b30e96b5"}},{"@attributes":{"name":"oz_num_spam_reports","value":"0"}},{"@attributes":{"name":"oz_spam_confirmed","value":"no"}},{"@attributes":{"name":"oz_num_passworded_reports","value":"0"}},{"@attributes":{"name":"oz_passworded_confirmed","value":"no"}},{"@attributes":{"name":"oz_up_votes","value":"0"}},{"@attributes":{[...]
