---
http_interactions:
- request:
    method: get
    uri: https://api.newznab.com/api?apikey=7e8896464895c1cde33759b8307f5cf8&del=0&extended=1&limit=5&o=json&q=Bach&t=music
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"@attributes":{"version":"2.0"},"channel":{"title":"oznzb","description":"oznzb
        Feed","link":"https:\/\/api.newznab.com\/","language":"en-gb","webMaster":"webadmin@newznab.com
        (oznzb)","category":{},"image":{"url":"https:\/\/api.newznab.com\/templates\/default\/images\/banner.jpg","title":"oznzb","link":"https:\/\/api.newznab.com\/","description":"Visit
        oznzb - Wordpress manager"},"response":{"@attributes":{"offset":"0","total":"10000"}},"item":[{"title":"2uw6Bb1wl4RCE1X3ZjdR5","guid":"https:\/\/api.newznab.com\/details\/b966d54775bffc11ea0ec4b6377318cc","link":"https:\/\/api.newznab.com\/getnzb\/b966d54775bffc11ea0ec4b6377318cc.nzb&i=42330&r=7e8896464895c1cde33759b8307f5cf8","comments":"https:\/\/api.newznab.com\/details\/b966d54775bffc11ea0ec4b6377318cc#comments","pubDate":"Fri,
        21 Apr 2017 06:35:52 +1000","category":"Misc > Other","description":"2uw6Bb1wl4RCE1X3ZjdR5","enclosure":{"@attributes":{"url":"https:\/\/api.newznab.com\/getnzb\/b966d54775bffc11ea0ec4b6377318cc.nzb&i=42330&r=7e8896464895c1cde33759b8307f5cf8","length":"40937218","type":"application\/x-nzb"}},"attr":[{"@attributes":{"name":"category","value":"8000"}},{"@attributes":{"name":"category","value":"8010"}},{"@attributes":{"name":"size","value":"40937218"}},{"@attributes":{"name":"guid","value":"b966d54775bffc11ea0ec4b6377318cc"}},{"@attributes":{"name":"files","value":"22"}},{"@attributes":{"name":"poster","value":"Niemand@live.nl
        (JanvanIngrid)"}},{"@attributes":{"name":"rageid","value":""}},{"@attributes":{"name":"grabs","value":"0"}},{"@attributes":{"name":"comments","value":"0"}},{"@attributes":{"name":"password","value":"0"}}[...]
